/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    /* make the width 80%, margin auto and 2-pixel border to use the accent color from the root */
    width: 80%;
    margin: auto;
    border: 2px solid var(--accent-color);
}
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}

/* the styles for the header */
header {
    /* add a gradient to the top */
    /* transitions at a 30 degree angle, starts off as a orange/yellow, transitions to white starting at 30, ends being white at 65 and retransitions back to the color orange */
    background: linear-gradient(30deg, #f7e35c 0%, white 30%, white 65%, #f7e35c 100%);
    /* add a border bottom with the accent color as the body*/

    border-bottom: 2px solid var(--accent-color);
	& h2 {
		font-size: 175%;
		/*text-indent: 30px; */
        /* set bottom padding to 0 */
        padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
        /*text-indent: 30px; */
        /* set bottom padding to 1 em*/
        padding-bottom: 1em;
	}
	& img {
		float: left;
        /* add a top and bottom margin */
        margin: 0.75em 1em;
	}
}

/* the styles for the main content */
/* add the h1 element inside of main and make the borders the same color for the body and header*/

main {
    clear: left;
    /* add 1 em padding to right left bottom */
    padding: 0 1em 1em 1em;
}

main h1 /*descendant*/ {
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

/* add a 4px border with rounded corners around the speaker elements and same color as border */
main img {
    border: 4px double var(--accent-color);
    border-radius: 8px;
}

/* the styles for the footer */
/* set the bg color of the footer the same as the borders and the font color inside the nested p to white */
footer {
    background-color: var(--accent-color);
	& p {
		text-align: center;
        /* make the text white */
        color: white;
        /* set the padding of top and bottom to 1 em */
        padding-top: 1em;
        padding-bottom: 1em;
	}
}

/* CSS class */
.large {
	font-size: 125%;
}

/* setting all margins and padding to zero and also the box sizing property to broder box */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index html only uses h1-h3; add a styling rule for padding .5em for headings, paragraphs and unordered lists */
h1, h2, h3, p, ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* style rule to make the left margin 2em for UNordered lists*/

ul {
    margin-left: 2em;
}

/* style the blockquote */
blockquote {
    font-style: italic;
    padding-left: 1em;
}